body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
}

h1 {
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 20px;
}

p {
  margin: 20px;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  margin: 20px auto;
  padding: 0;
  width: fit-content;
  text-align: left;
}

ul li {
  margin: 10px 0;
}

.imagenes img {
  margin: 10px;
  border-radius: 10px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 15px;
  font-size: 24px;
  color: #555;
  text-decoration: none;
}

.social-links a:hover {
  color: #1da1f2; /* Azul de Twitter */
}
